<h1>Find and Replace</h1>

<form action='/string'>
  <div class="form-group">
    <label for="string">Enter a string.</label>
    <input id="string" name="string" type="text" class="form-control">
    <label for="old_word">What word do you want replaced?</label>
    <input id="old_word" name="old_word" type="text" class="form-control">
    <label for="new_word">What do you want the new word to be?</label>
    <input id="new_word" name="new_word" type="text" class="form-control">
  </div>
  <button type="submit" class=" btn btn-success">Send</button>
</form>
